body {
  background-color: #99c090 !important;
  padding      : 0 50px;
  
}

.header-container{
  padding   : 20px 40px;
  /* background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1)); */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1)); */
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));

  
}



.section-share{
  padding      : 10px 30px;

}

.section-share .section-body{
  font-size: 20px;
  font-weight: 300;
  
}
.section-share .section-container{
  margin        : 0 10px;
  display       : flex;
  flex-direction: column;
}

.section-share .section-container .section-header{
  height          : 60px;
  padding-top     : 10px;
}

.section-share .section-container .section-header .title-section {
  font-size  : 22px;
  font-weight: 600;

}

.section-share.section-education,
.section-share.section-tool,
.section-share.section-certification{
  background: #f5f5f5;
  /* background: red; */
  
}

.section-share.section-experience, 
.section-share.section-project{
  background: #ffffff;
  /* background: red; */
  
}


.footer-content{
  padding   : 8px;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
  /* background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1)); */
}



h1,
.h1,
h2,
.h2{
    margin: auto;
    font-family: Georgia, "Times New Roman", serif;
}

.mark, mark {
  padding: .2em;
  background-color: #99c090 !important;
  border-radius: 10px;
  }
